.card {
    display: block;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    position: relative;
    border-radius: 10px;
    padding: 2%;
    background-color: black;

    box-shadow: 10px 0 20px rgba(255, 255, 255, 0.501);
    transition: all 0.5s ease;

    min-width: 50px;
}

.card img {
    object-fit: scale-down;
    width: 50%;
}

#card button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}