.full-screen-content {
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */

    background-color: rgba(0, 0, 0, 0);

    position: absolute;
    top: 0;
    left: 0;
}