
@import url('button.css');
@import url('canvas.css');
@import url('clash-display.css');

:root {
  --violet-100: #eae6ff;
  --violet-200: #c3bdf7;
  --violet-300: #9a93ef;
  --violet-400: #7d73e8;
  --violet-500: #7453ff;
  --violet-600: #6330f7;
  --violet-700: #5525d6;
  --violet-800: #4718bf;
  --violet-900: #3b169c;

  --magenta-100: #ffe6ff;
  --magenta-200: #ffb3ff;
  --magenta-300: #ff80ff;
  --magenta-400: #ff4dff;
  --magenta-500: #ff1aff;
  --magenta-600: #ff00ff;
  --magenta-700: #cc00cc;
  --magenta-800: #a900a3;
  --magenta-900: #870087;

  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
}

* {
  font-family: ClashDisplay-Regular, sans-serif;
  line-height: 0.5f;
  color: var(--magenta-600);
}

html{
  overflow: hidden;

  background-color: var(--stone-800);
}

a {
  /* remove the underline of the link */
  text-decoration: none;
}

h1 {
  margin: 0;

  font-size: 2.5rem;
  color: var(--magenta-600);
}

#header {
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;

  padding: 10px;

  width: 100%;
  background-color: var(--stone-900);
  box-shadow: 0 -8px 32px rgba(0, 0, 0, 0.5);
}

#footer {
  z-index: 1000;

  position: fixed;
  bottom: 0;
  left: 0;

  padding: 10px;

  width: 100%;
  justify-content: top;
  background-color: var(--stone-900);
}

.innerbody {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: center;


  justify-content: left;
  align-items: center;
  justify-self: center;
  justify-content: center;

  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* for smooth scrolling on iOS */
  white-space: nowrap;

  /* Prevent line break inside flex container */
  padding: 5px;
  background-color: var(--stone-900);

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 100px;

  min-height: 100px;

  transition: all 0.5s ease;

  z-index: 1000;
}

.centered-square {
  aspect-ratio: 1/1;

  margin-left: 25%;
  max-width: 50%;
}

.column {
  display: block;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.border0 {
  border: 2px solid var(--magenta-600);
  border-radius: 25px 0px 25px 0px;
}

/* -- Desktop -- */
@media (min-width: 600px) {
  .square {
    aspect-ratio: 1/1;
  }

}

/* -- Mobile -- */
@media (max-width: 599px) {}