@import url('clash-display.css');

:root {
  --violet-500: #7453ff;
  --violet-600: #6330f7;
  --violet-800: #4718bf;
  --violet-900: #3b169c;

  --magenta-600: #ff00ff;
  --magenta-800: #a900a3;

  --stone-900: #1c1917;
  --stone-700: #44403c;
  --stone-500: #78716c;
  --stone-300: #d6d3d1;
  --stone-100: #f5f5f4;
}

* {
  font-family: ClashDisplay-Regular, sans-serif;
  line-height: 1.5;
  color: var(--magenta-600);
  background-color: var(--stone-900);
}

#header {
  top: 0;
  left: 0;

  padding-left: 5%;

  width: 100%;
  z-index: 1000;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.innerbody {
  position: relative;
  display: flex;

  align-items: center;
  justify-self: center;


  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* for smooth scrolling on iOS */
  white-space: nowrap;

  /* Prevent line break inside flex container */
  border: 2px solid var(--magenta-600);
  border-radius: 25px 0px 25px 0px;

  padding: 5px;

  margin-left: 50px;
  margin-right: 50px;

  transition: all 0.5s ease;
}

/* -- Desktop -- */
@media (min-width: 500px) {
  .innerbody {
    justify-content: center;

    transition: all 0.5s ease;
  }
}

/* -- Mobile -- */
@media (max-width: 499px) {
  .innerbody {
    justify-content: left;
    flex-direction: column;

    transition: all 0.5s ease;
  }
}