@import url('clash-display.css');

:root {
  --violet-500: #7453ff;
  --violet-600: #6330f7;
  --violet-800: #4718bf;
  --violet-900: #3b169c;

  --magenta-600: #ff00ff;
  --magenta-800: #a900a3;

  --stone-900: #1c1917;
  --stone-700: #44403c;
  --stone-500: #78716c;
  --stone-300: #d6d3d1;
  --stone-100: #f5f5f4;
}

* {
  font-family: ClashDisplay-Regular, sans-serif;
  line-height: 1.5;
  color: var(--magenta-600);
  background-color: var(--stone-900);
}

#header {
  position: fixed;
  top: 0;
  left: 0;

  padding-left: 5%;

  width: 100%;
  z-index: 1000;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

body {
  width: 100%;
  margin-top: 10rem;
}

.innerbody {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  justify-self: center;

  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* for smooth scrolling on iOS */
  white-space: nowrap;

  /* Prevent line break inside flex container */
  border: 2px solid var(--magenta-600);
  border-radius: 25px 0px 25px 0px;

  min-height: 50%;

  margin: 5rem;
  padding: 0.5rem;
}


button {
  position: relative;
  display: inline-block;

  padding: 1rem 3rem;
  margin: 5px;

  z-index: 5;

  min-width: 400px;

  font-size: x-large;

  cursor: alias;
  transition: all 0.3s ease;

  border-radius: 25px;
  border: 2px solid var(--magenta-600);

}

button:hover {
  color: var(--stone-900);
  background-color: var(--magenta-600);
  border-color: var(--stone-900);

  top: 5px;
  transition: all 0.5s ease;
}

button:hover:after {
  width: 100%;
}

button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
}