@import url('clash-display.css');

:root {
  --violet-500: #7453ff;
  --violet-600: #6330f7;
  --violet-800: #4718bf;
  --violet-900: #3b169c;

  --magenta-600: #ff00ff;
  --magenta-800: #a900a3;

  --stone-900: #1c1917;
  --stone-700: #44403c;
  --stone-500: #78716c;
  --stone-300: #d6d3d1;
  --stone-100: #f5f5f4;
}

* {
  font-family: ClashDisplay-Regular, sans-serif;
  line-height: 1.5;
  color: var(--magenta-600);
  background-color: var(--stone-900);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  /* Prevent scrolling */
}

#header {
  position: relative;
  top: 0;
  left: 0;

  padding-left: 5%;

  z-index: 1000;

  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.innerbody {
  position: relative;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-self: center;
  justify-content: center;

  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* for smooth scrolling on iOS */
  white-space: nowrap;

  /* Prevent line break inside flex container */


  padding: 5px;

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;

  min-height: 100px;

  transition: all 0.5s ease;

  z-index: 1000;
}

.centered-square {
  aspect-ratio: 1/1;

  margin-left: 25%;
  max-width: 50%;
}

.column {
  display: block;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.border0 {
  border: 2px solid var(--magenta-600);
  border-radius: 25px 0px 25px 0px;
}

/* -- Desktop -- */
@media (min-width: 600px) {
  .square {
    aspect-ratio: 1/1;
  }

}

/* -- Mobile -- */
@media (max-width: 599px) {}