:root {
    --card-height: 100px;
    --card-width: 300px;
    --avatar-size: 100px;
}

/* ================ USER PROFILE CARD ================ */
.user-profile-card {
    position: relative;
    display: flex;
    flex-direction: row;

    block-size: var(--card-height);
    inline-size: var(--card-width);

    align-items: center;
    
    padding: var(--spacing-md);
    gap: 10px;

    color: var(--theme-text-primary);
    background-color: var(--theme-background-base);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: var(--theme-shadow-lg);
}

.user-profile-card:hover {
    /* transform: translateY(-2px); */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

/* ================ USER AVATAR ================ */
.user-profile-avatar {
    aspect-ratio: 1 / 1;


    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile-avatar img {
    object-fit: cover;
    padding: 10px;

    border-radius: 50%;
    border: 2px solid var(--theme-border-inverse);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ================ USER PROFILE DETAILS ================ */
.user-profile-details {
    width: 75%;
}

.user-profile-details h2 {
    font-size: 1rem;
    color: var(--theme-text-primary);
}

.user-profile-details p {
    color: var(--theme-text-secondary);
}